#
# Copyright 2019-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

site:
  title: DataSonnet Mapper Documentation
  url: https://MS3Inc.github.io/datasonnet-mapper
  start_page: datasonnet::index.adoc
content:
  sources:
  - url: .
    branches: HEAD
    start_path: docs
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true

  # see: https://docs.antora.org/antora/2.3/publish-to-github-pages/#use-the-supplemental-ui
  supplemental_files:
      - path: ui.yml
        contents: |
          static_files: [ .nojekyll ]
      - path: .nojekyll
